:root {
    /* MAIN COLORS */
    --pink: #FF6EE5;
    --blue: #009AFF;
    --bar-brown: #312C1C;
    --beige: #FFEFD9;
    --light-green: #B6FF00;
    --green: #00DF66;
    --orange: #FF6700;
    --dark-green: #2C6B56;

    /* FUNDAMENTALS */
    --white: #FFFFFB;
    --black: #303030;
}

