/* HEADER */
.nav-header {
    width: 100%;
    /* padding: 1rem; */
    /* padding-right: 120px; */
    padding-top: 20px;
    /* 👈 dit duwt de hamburger 30px naar links */
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.hamburger-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* FULLSCREEN OVERLAY */
.menu-overlay {
    position: fixed;
    inset: 0;
    background: var(--black);
    color: var(--white);
    z-index: 2000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: fadeIn 0.3s ease-out;
}

/* CLOSE BUTTON */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
}

/* LINKS */
.menu-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.menu-links a {
    font-family: var(--font-antwerpen-tall);
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
    transition: opacity 0.2s;
}


