/* CUSTOM FONTS */

@font-face {
    font-family: "Antwerpen-Regular";
    src: url("../assets/fonts/AntwerpenRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Antwerpen-Tall";
    src: url("../assets/fonts/AntwerpenTall.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Antwerpen-SmallCaps";
    src: url("../assets/fonts/AntwerpenSmallCaps.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SunAntwerpen-5_Regular";
    src: url("../assets/fonts/SunAntwerpen-5_Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* COLORS */
    --pink: #FF6EE5;
    --blue: #009AFF;
    --bar-brown: #312C1C;
    --bar-brown-translucent: rgba(49, 44, 28, 0.76);
    --beige: #FFEFD9;
    --beige-dark: #e8dcc6;
    --beige-warm: #efe4d1;
    --light-green: #B6FF00;
    --green: #00DF66;
    --green-bright: #00e46f;
    --orange: #FF6700;
    --dark-green: #2C6B56;
    --dark-green-hover: #3a5e4e;
    --dark-green-mid: #264a3a;
    --dark-green-deep: #173628;

    /* FUNDAMENTALS */
    --white: #FFFFFB;
    --black: #303030;
    --pure-black: #000;
    --near-black: #111;
    --grey-muted: #999;
    --grey-light: #aaa;
    --grey-lighter: #bbb;
    --error: #ff6b6b;

    /* FONT VARIABLES (LOCAL) */
    --font-antwerpen-regular: "Antwerpen-Regular", sans-serif;
    --font-antwerpen-tall: "Antwerpen-Tall", sans-serif;
    --font-antwerpen-smallcaps: "Antwerpen-SmallCaps", sans-serif;
    --font-sunantwerpen-regular: "SunAntwerpen-5_Regular", sans-serif;

    /* FONT VARIABLES adobe */
    --font-interstate: "interstate", sans-serif;
}



